.todo-item {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.todo-item__status {
    display: flex;
    align-items: center;
}

.todo-item__input {
    height: 100%; /* любая высота */
    box-sizing: border-box; /* чтобы padding и border не увеличивали высоту */
    padding: 10px; /* опционально */
}

.todo-item .status-checkbox {
    width: 2rem;
    height: 2rem;
}

.todo-item__value_done {
    text-decoration: line-through;
}